{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% block head %}
        {% endblock %}
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'artikel' %}">Shop</a></li>
            <li><a href="{% url 'warenkorb' %}">Warenkorb</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'impressum' %}">About</a></li>
        </ul>
    </div>
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>